- content_for(:page_title) { 'Login' }

.container.has-text-centered
  .columns.is-centered
    .column.is-two-thirds-tablet.is-half-desktop.is-one-third-widescreen
      %h3.title.has-text-grey Login

      = render 'layouts/notification'

      .box.has-text-left
        = form_tag user_session_path do
          .field
            - email_value = @values && @values[:email]
            .control.has-icons-left
              %input.input{ type: :email, name: :email, value: email_value, placeholder: 'Email', autofocus: true }
              %span.icon.is-small.is-left
                %i.fas.fa-envelope

          .field
            - password_value = @values && @values[:password]
            .control.has-icons-left
              %input.input{ type: :password, name: :password, value: password_value, placeholder: 'Password' }
              %span.icon.is-small.is-left
                %i.fas.fa-lock

          .field
            %label.checkbox
              %input{ type: :checkbox, name: :remember_me }
              Remember me

          %button.button.is-block.is-info.is-fullwidth Login

      %p.has-text-grey
        %a{ href: new_user_registration_path } Register
         · 
        %a{ href: new_user_password_path } Forgot Password
