- content_for(:page_title) { 'Login' }
- content_for(:full_height) { '1' }

.container.has-text-centered
  .columns.is-centered
    .column.is-two-thirds-tablet.is-half-desktop.is-one-third-widescreen
      %h3.title.has-text-grey Login

      = render 'layouts/notification'

      .box.has-text-left
        = form_tag auth_login_path do
          .field
            - email_value = @values && @values[:email]
            .control.has-icons-left
              %input.input{ type: :email, name: :email, value: email_value, placeholder: 'Email', autofocus: true }
              %span.icon.is-small.is-left
                %i.fas.fa-envelope

          .field
            - password_value = @values && @values[:password]
            .control.has-icons-left
              %input.input{ type: :password, name: :password, value: password_value, placeholder: 'Password' }
              %span.icon.is-small.is-left
                %i.fas.fa-lock

          .field
            %label.checkbox
              %input{ type: :checkbox, name: :remember_me }
              Remember me

          %button.button.is-block.is-info.is-fullwidth Login

          .p.has-text-centered.has-padding-top-15.has-padding-bottom-15
            OR

          .p.has-padding-top-5.has-padding-bottom-5
            %a.button.is-block.is-dark.is-fullwidth{ href: auth_github_path, data: { turbolinks: 'false' } }
              %span.icon
                %i.fab.fa-github
              %span Login with GitHub

          .p.has-padding-top-5.has-padding-bottom-5
            %a.button.is-block.is-fullwidth{ href: auth_google_path, data: { turbolinks: 'false' } }
              %span.icon
                %i.fab.fa-google
              %span Login with Google

      %p.has-text-grey
        %a{ href: auth_register_path } Register
         · 
        %a{ href: auth_forgot_password_path } Forgot Password
