- content_for(:page_title) { 'Trends' }
- content_for(:full_height) { '1' }

:ruby
  dates = @dates.map { |d| d + '-01' }
  data = @skills.each_with_object({}) do |skill, hash|
    indexed = skill.index_by { |r| r['date'] }
    hash[skill.first['id']] = @dates.map { |d| indexed.dig(d, 'vacancies_count').to_i }
  end

.columns.is-fullheight
  %main.column
    %h1.title Trends
    %div{ data: { controller: 'trends', trends_data: data.to_json, trends_dates: dates.to_json } }
  %aside.column.is-narrow.sidebar
    = render 'filters'
