- content_for(:page_title) { 'Trends' }
- content_for(:full_height) { '1' }

:ruby
  dates = @dates.map { |d| Date.parse(d + '-01').strftime('%b %Y') }
  trends = @skills.each_with_object({}) do |skill, hash|
    indexed = skill.index_by { |r| r['date'] }
    hash[skill.first['id'].to_i] = @dates.map { |d| indexed.dig(d, 'vacancies_count').to_i }
  end
  skills = @skills.each_with_object({}) do |skill, hash|
    hash[skill.first['id'].to_i] = skill.first['name']
  end

.columns.is-fullheight
  %main.column
    %h1.title Trends
    %div#chart{ data: { controller: 'chart', chart_trends: trends.to_json, chart_skills: skills.to_json, chart_selected_skill_ids: (@filters[:skill_ids] || []).to_json, chart_dates: dates.to_json } }
  %aside.column.is-narrow.sidebar
    = render 'filters'
