- content_for(:page_title) { 'Trends' }
- content_for(:full_height) { '1' }

.columns.is-fullheight
  %mail.column
    %h1.title This page is still being developed, sorry ...
    = render 'chart'
  %aside.column.is-narrow.sidebar
    = render 'filters'
