- content_for(:full_height) { '1' }

.container.has-text-centered
  .columns.is-centered
    .column.is-two-thirds-tablet.is-half-desktop.is-one-third-widescreen
      %h3.title.has-text-grey Confirm email

      - if @token_error
        - content_for(:page_title) { 'Link error' }
        .box
          %p.content.has-text-grey= @token_error
      - else
        - content_for(:page_title) { 'Email confirmed' }
        .box
          %p.content.has-text-grey Thank you! Email address is confirmed. You are logged in now.
          %a.button.is-block.is-info.is-fullwidth{ href: root_path } Proceed
