$message-header-background-color: hsl(0, 0%, 69%);
$navbar-item-hover-background-color: hsl(116, 80%, 84%);
$navbar-item-hover-color: hsl(119, 57%, 18%);
$navbar-item-img-max-height: 2.2rem;

$custom-colors: (
        'remote': (hsl(106, 100%, 55%), rgba(0, 0, 0, 0.7)),
        'onsite': (hsl(49, 100%, 55%), rgba(0, 0, 0, 0.7)),
        'fulltime': (hsl(271, 100%, 66%), hsl(0, 0%, 96%)),
        'parttime': (hsl(75, 100%, 68%), rgba(0, 0, 0, 0.7)),
        'placeholder': (hsl(0, 0%, 60%), hsl(0, 0%, 96%)),
        'skill': (hsl(174, 95%, 32%), hsl(0, 0%, 98%)),
);
