.application {
  .navbar {
    background-color: hsl(135, 48%, 88%);
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;

    &.is-hidden-scroll {
      transform: translateY(-100%);
    }
  }
}

.auth {
  .navbar {
    background-color: hsl(135, 48%, 88%);
    color: #363636;
  }
}

.footer {
  background-color: hsl(135, 48%, 88%);
}
