.application {
  .navbar {
    background-color: #ededed;
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;

    &.is-hidden-scroll {
      transform: translateY(-100%);
    }
  }
}

.auth {
  .navbar {
    background-color: #ededed;
    color: #363636;
  }
}
