#chart {
  position: relative;

  #skill-title {
    position: absolute;
    top: 6px;
    width: 100%;
    text-align: center;

    div {
      font-size: 1rem;
      line-height: 1rem;
      padding: 0.5rem;
      background: white;
      border: 0.12rem solid #e28472;
      border-radius: 0.3rem;
      display: inline-block;
    }
  }

  svg {
    .axis {
      .domain {
        stroke: #808080;
        stroke-width: 0.8;
      }

      font-size: 0.8rem;
    }

    .skill-group {
      .line {
        stroke: #cfcfcf;
        stroke-width: 0.08625rem;
        stroke-linejoin: round;
        stroke-linecap: round;
        fill: none;
      }

      .line-activator {
        stroke: transparent;
        stroke-width: 1.2rem;
        stroke-linejoin: round;
        stroke-linecap: round;
        fill: none;
      }

      .node {
        fill: none;
      }

      &.selected {
        .line {
          stroke: #f4967f;
          stroke-width: 0.11625rem;
        }

        .node {
          fill: white;
          stroke: #f4967f;
          stroke-width: 2;
        }
      }
      &.highlighted, &.selected.highlighted {
        .line {
          stroke: #e28472;
          stroke-width: 0.13625rem;
        }

        .node {
          fill: white;
          stroke: #e28472;
          stroke-width: 2;

          &:hover {
            fill: #e28472;
          }
        }
      }
    }
  }
}

#chart-tooltip {
  position: absolute;
  text-align: center;
  width: 3.8rem;
  height: 2.3rem;
  padding: 0.02rem;
  font-size: 0.7rem;
  background: white;
  border: 0.09rem solid #e28472;
  border-radius: 0.2rem;
  pointer-events: none;
}
