- unless @posts.empty?
  - @posts.each do |post|
    - new_post = @last_visit_at && post.last_fetched_at.to_i > @last_visit_at
    %article{ class: "message #{new_post ? 'fresh-post' : ''}" }
      .message-header
        %b= post.employer&.name
        %i= time_ago_in_words(post.published_at) + ' ago'
      .message-body
        %p= post.raw_text
