- unless @posts.empty?
  - @posts.each do |post|
    - new_post = @last_visit_at && post.last_fetched_at.to_i > @last_visit_at
    %article{ class: "message #{new_post ? 'fresh-post' : ''}" }
      .message-header
        %b= post.employer&.name
        %i= time_ago_in_words(post.published_at) + ' ago'
      .message-body.content
        /%p= post.raw_text

        .box.is-size-7
          - parsed = Parsers::HackerNews.parse(post.raw_text)

          %p= parsed[:text]

          .tags
            - if parsed.dig(:remoteness, :remote)
              %span.tag.is-remote Remote
            - if parsed.dig(:remoteness, :onsite)
              %span.tag.is-onsite Onsite
            - if parsed.dig(:involvement, :fulltime)
              %span.tag.is-fulltime Full-time
            - if parsed.dig(:involvement, :parttime)
              %span.tag.is-parttime Part-time
          -#%ul
          -#  - parsed[:paragraphs].each do |p|
          -#    %li= p
          -#%ol
          -#  - parsed[:urls].each do |url|
          -#    %li= url
          -#%ol
          -#  - parsed[:emails].each do |email|
          -#    %li= email
