%link{ rel: 'shortcut icon', type: 'image/x-icon', href: asset_pack_path('media/images/favicon.ico') }
%link{ rel: 'apple-touch-icon', type: 'image/x-icon', href: asset_pack_path('media/images/apple-touch-icon.png') }
