%nav.navbar{ class: "navbar #{local_assigns[:fixed_top] && 'is-fixed-top'}", 'aria-label' => 'main navigation', role: 'navigation', data: local_assigns[:fixed_top] && { sticky: true, 'hide-on-scroll' => true } }
  .container
    .navbar-brand
      %a.navbar-item{ href: '/' }
        %img{ src: asset_pack_path('media/images/logo.svg'), style: 'margin-top: -0.8rem;' }
      .navbar-burger.burger{ 'aria-expanded' => 'false', 'aria-label' => 'menu', 'data-target' => 'main-nav', role: 'button' }
        %span{ 'aria-hidden' => 'true' }
        %span{ 'aria-hidden' => 'true' }
        %span{ 'aria-hidden' => 'true' }

    #main-nav.navbar-menu
      .navbar-start
        %a.navbar-item{ href: vacancies_path(@filters || {}) }
          %span Vacancies
        %a.navbar-item{ href: trends_path(@filters || {}) }
          %span Trends
        %a.navbar-item{ href: about_path }
          %span About

      - if local_assigns[:auth_links]
        .navbar-end
          - if session[:user_name]
            .navbar-item
              = 'Hi, ' + session[:user_name]
            = link_to 'Logout', auth_logout_path, method: :delete, class: 'navbar-item'
          - else
            %a.navbar-item{ href: auth_login_path }
              Login
            %a.navbar-item{ href: auth_register_path }
              Register
