- if flash[:notice]
  .notification.is-primary
    - unless local_assigns[:permanent]
      %button.delete
    = flash[:notice]
- if flash[:error]
  .notification.is-danger
    - unless local_assigns[:permanent]
      %button.delete
    = flash[:error]
